body{
    font-family:"Yantramanav",sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

main{
    min-width: 500px;
}

header{
    margin: 2em 0em 4em 0em;
}

h1{
    font-weight:900;
    font-size: 5em;
    margin: 0px;
}

h2{
    margin: 0px;
    font-weight: 100;
}

table{
    width: 100%;
    min-width: 320px;
    margin: 0px;
    border:1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

td{
    border:1px solid gray;

}

th{
    font-weight: 700;
    height: 3em;
}

td{
    font-weight: 300;
    height: 3em;

}
